:root{
    --body-bg-color: #d1d3d6;
}

body{
    background-color: var(--body-bg-color);
}

.navbar{
    opacity: 0.95 !important
}

#content{
    padding: 0;
    margin: 0;
}

#about-img{
    background-image: url(images/packet.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#about-section{
    margin-top: 30vh;
    margin-bottom: 30vh;
}

.about-text{
    font-weight: 300;
}

.section-topic-padding{
    height:60px;
    width: max-content;
}

#updates-img, #updates-img-swapped{
    background-image: url(images/updates.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#updates-img-swapped{
    -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
}

#updates-title{
    text-align: right !important;
}

.service-item{
    padding-top: 20px;
}

#login-image{
    background-image: url(images/Mobile-login-Cristina.jpg);
   /* background-size: cover;*/
    background-repeat: no-repeat;  
    border-color: #d1d3d6;
    border-width: 5px !important;
    background-size: cover;
}

#login-section{
    padding-top: 10%;
}

#login-form{
    padding-left: 2%;
    padding-right: 2%;
}

#login-page{
    background-image: url(images/login_bg.jpg);
    background-size: cover;  
    background-repeat: no-repeat;
}

.login-btn-set{
    border: 2px solid !important;
}

.login-components{
    background: transparent !important;
}

#topic{
    margin-bottom: 20px;
}

#dashboard-content{
    padding-top: 2%;
    padding-bottom: 2%;
}

.btn-dashboard-menu{
    margin-bottom: 5px !important;
}

#table-section{
    padding-left: 15px;
    padding-right: 15px;
}

#start-form{
    padding-top : 50px;
}

.dashboard-page{
    background-position: center !important;
}

#searchBar{
    padding-left: 50px;
    padding-right: 50px;
}

#menu{
    padding-left: 30px;
    padding-right: 30px;
}

#alert-desc{
    background: transparent !important;
}

.image-section{
    padding: 10px;
}

.card{
    background: transparent !important;
}

.image-list{
    padding: 10px;
}